.footer-background {
  background-color: var(--base);
}
.footer-col-sm {
  width: 30%;
}
.footer-col-lg {
  width: 70%;
}
.footer-title {
  font-size: 2rem;
  font-weight: bold;
}
.footer-image {
  width: 85%;
  border: 3px solid #ffffff;
}
.footer-text {
  font-size: 0.625rem;
  font-weight: bold;
}
