.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.sticky {
    position: sticky;
    top:0;
}

.menu-block {
    background-color: var(--accent);
    padding: 1rem;
    display: inline-block;
    height: 5.5rem;
    width: 25%;
}

.title-block {
    background-color: #00274D;
    padding: 1rem;
    width: 75%;
    font-size: 1.5rem;
    font-weight: bold;
    height: 5.5rem;
}

.display-block {
    display: block;
    margin: 0% 0% 0% 0%;
}

.icon-size {
    height: 3rem;
    width: 3rem;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: bold;
    width:100%;
    background-color: var(--grey);
    height: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    color:black;
}

.consultation-text {
    font-size: 1.125rem;
    padding: 0%;
    position: relative;
    top: 1px;
}