.landing-img {
    width: 25.1875rem;
    height: 23.6875rem;
}

.landing-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.consultation-button {
    background-color: #A67C00;
    font-size: 1rem;
    font-weight: bold;
    width: 95%;
    padding: 1rem 0rem 1rem 0rem;
}

.large-text {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    padding: 0rem 3rem 0rem 3rem
}

.kentucky-text {
    color:#A67C00;
    font-size: 2rem;
    font-weight: 400;
}