.services-container {
    background-color: #00274D;
}

.small-text {
    font-size: .75rem;
}

.two-rem-text {
    font-size: 2rem;
    font-weight: bold;
}

.service-card {
    width: 90%;
    height: 15rem;
    background-color: var(--grey);
    color: #00274D;
    border-radius: .25rem;
    padding: 0rem 0rem 1rem 0rem;
    margin: .5rem 0rem .5rem 0rem;
}

.description-text {
    margin: 0rem 2rem 0rem 2rem;
    font-size: 1.25rem;
}

.title-text {
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.65rem;
    display: block;
    font-weight: bold;
}

.bottom-text {
    font-size: 1.25rem;
    margin: .5rem 0rem 0rem 0rem;
}

.number-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0rem 0rem 1rem 0rem;
}